<footer class="bg-dark text-white mt-auto">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Esp TOol</h5>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fa-solid fa-house"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/"><i class="fa-solid fa-money-bill-transfer"></i> Esp TOol </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"><i class="fa-solid fa-user"></i>  About </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Connect</h5>
                <div class="social-links">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <p class="mb-0">&copy; 2025 Esp TOol. All rights reserved.</p>
        </div>
    </div>
</footer>