<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Esp TOol</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%= (page === 'Home') ? 'active' : '' %>" href="/"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= (page === 'Esp') ? 'active' : '' %>" href="/esp/index"><i class="fa-solid fa-money-bill-transfer"></i> EspTOol</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= (page === 'About') ? 'active' : '' %>" href="/about"><i class="fa-solid fa-user"></i> About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>