<div class="container my-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Ledger Management System</h1>
        <p class="lead">Manage your transaction efficiently and effectively</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/transactions" role="button">
            <i class="fa-solid fa-money-bill-transfer fa-flip"></i> View All Transaction
        </a>
        <a class="btn btn-primary btn-lg" href="/transactions/add/new"><i class="fa-solid fa-money-bill-trend-up fa-bounce"></i> Add new transaction</a>
    </div>
</div>           